.skin-light .number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield
}

.skin-light .number-input input[type=number]::-webkit-inner-spin-button, .skin-light .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.skin-light .number-input {
    margin-bottom: 3rem
}

.skin-light .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative
}

.skin-light .number-input button:before, .skin-light .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.skin-light .number-input button.plus:after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg)
}

.skin-light .number-input input[type=number] {
    text-align: center
}

.skin-light .number-input.number-input {
    border: 1px solid #ced4da;
    width: 8.6rem;
    border-radius: .25rem
}

.skin-light .number-input.number-input button {
    width: 2.5rem;
    height: .7rem
}

.skin-light .number-input.number-input button.minus {
    padding-left: 10px
}

.skin-light .number-input.number-input button:before, .skin-light .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057
}

.skin-light .number-input.number-input input[type=number] {
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .skin-light .number-input.def-number-input.safari_only button:before, .skin-light .number-input.def-number-input.safari_only button:after {
            margin-top:-.3rem
        }
    }
}